* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
}
h1 {
  font-weight: 300;
}

main {
  background-color: white;
  height: 100vh;
  width: 100vw;

  text-align: center;
}

nav {
  background-color: rgb(223, 223, 223);
}
nav ul {
  padding: 7px;
  margin: 0;
}
nav ul li {
  list-style: none;
  text-decoration: none;

  display: inline-block;

  margin: 0 10px;
}

a {
  text-decoration: none;
}

label {
  display: block;

  margin: 20px;
  padding: 15px;

  background-color: white;
  color: green;

  border: 1px solid green;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  border-radius: 50px;
}

label input[type='checkbox'] {
  display: none;
}

.active {
  background-color: green;
  color: white;
}

@media only screen and (min-width: 320px) {
  body {
    background-color: lightblue;
  }
  main {
    width: 500px;
  }
}
